.logo {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    img {
        height: 40px;
        width: auto;
    }
}

@media (min-width: $tablet) {
    .logo {
        flex: 0 0 auto;
        justify-content: flex-start;
    }
}
